* {
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
}
body {
  background-image: url("../img/w3.gif");
}
::-webkit-scrollbar {
  display: none;
}
#imgbg {
  height: 100vw;
  opacity: 0%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: -1111;
  transition: 1.6s ease-in-out;
}
#bg3d {
  position: fixed;
  top: 10vh;
  left: 0vw;
  width: 80vw;
  opacity: 0%;
  z-index: -1000;
  transition: opacity 1.4s, transform 0.2s;
}
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  overflow-x: hidden;
  z-index: 999;
}
.acceder {
  overflow: hidden;
  height: 5vh;
  z-index: 10000;
}
.acceder h2 {
  color: #c5c5c5;
  font-family: Italiana;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 15px;
  transition: 1.2s ease-in-out;
  z-index: 1100;
}
#bgmodel {
  opacity: 0%;
  transition: 3.2s ease-in-out;
  position: fixed;
  z-index: -99;
}
#s--c {
  opacity: 0%;
  transition: 0.2s ease-out;
  position: fixed;
  top: 0px;
  left: 5vw;
  color: #191919;
  font-family: Cormorant Garamond;
  z-index: 1;
}
#circle span {
  position: absolute;
  margin-left: -20px;
  margin-top: -40px;
  z-index: 500;
  width: 40px;
  height: 40px;
  text-align: center;
  transform-origin: bottom center;
  transition: 0.2s;
}
.navbar {
  position: fixed;
  top: 0px;
  left: -5.1vw;
  width: 5vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  transition: 0.5s ease-in-out;
}
#bar {
  position: fixed;
  top: 0px;
  left: -1vw;
  width: 1px;
  background-color: #191919;
  height: 100vh;
  transition: 0.5s ease-in-out;
}
.top--col {
  color: #191919;
  font-family: Roboto;
  font-size: 1.5vw;
  display: flex;
  align-items: center;
  margin-left: 1.7vw;
  height: 100vh;
}
.bot--col {
  color: #191919;
  font-family: Roboto;
  font-size: 2vw;
  display: flex;
  align-items: center;
  margin-left: 2vw;
  height: 50vh;
}
/* TÍTULO */
.l--brand {
  margin-top: 15vw;
  margin-left: 10vw;
}
.l--brand h2 {
  font-size: 6vw;
  font-weight: 300;
  font-family: italiana;
}
.l--brand h3 {
  font-size: 1.5vw;
  font-weight: 300;
}
.r--brand {
  margin-left: 55vw;
}
.r--brand h2 {
  font-size: 6vw;
  font-weight: 300;
  font-family: italiana;
}
.r--brand h3 {
  font-size: 1.5vw;
  font-weight: 300;
  float: right;
}
/* horizontal menu*/
.xmenu {
  display: flex;
  flex-wrap: nowrap;
  width: 50vw;
  position: fixed;
  bottom: 5vw;
  left: 30vw;
}
.xmenu h2 {
  margin-left: 5vw;
  font-size: 1.3vw;
  color: #191919;
  transition: 5.6s ease-in-out;
  z-index: 10;
}
.xmenu h2:hover {
  color: #f0f0f0;
}
/* ABOUT BOX*/
.aboutmenu {
  width: 95vw;
  margin-left: 5vw;
  margin-top: -100vw;
  display: flex;
  flex-wrap: wrap;
  opacity: 0%;
  margin-top: 0px;
  position: absolute;
  transition: 0.2s;
}
.aboutbox {
  color: #191919;
  padding: 5vw;
  width: 95vw;
}
.aboutbox h2 {
  text-align: center;
  font-family: Cormorant Garamond;
  font-size: 12vw;
  margin-top: 130vw;
}
.aboutbox span {
  font-size: 1.5vw;
  font-family: Montserrat;
  font-weight: 300;
  margin: 0px 10px;
}
.aboutbox h5 {
  text-align: center;
  font-family: Roboto;
  font-size: 1vw;
  color: #191919;
}
.aboutbox h3 {
  margin-top: 15vw;
  font-family: Cormorant Garamond;
  font-weight: 300;
  font-size: 3vw;
  width: 60vw;
}
.closeimg {
  width: 2vw;
  position: fixed;
  top: 70px;
  right: -5vw;
  z-index: 1000;
}
#close2 {
  width: 3vw;
  position: fixed;
  bottom: -10vw;
  right: 20vw;
  z-index: 10000000000;
  transition: 0.6s ease-in-out;
}
/* TRABAJOS MENU */
.bmenu {
  width: 95vw;
  height: 100vw;
  margin-left: 5vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 0%;
  margin-top: 0px;
  position: fixed;
  transition: opacity 0.2s, margin 1.6s;
}
.dd {
  color: #191919;
  font-family: Cormorant Garamond;
  font-size: 6vw;
  text-align: center;
  margin-top: 30vw;
}
.projectsbox {
  width: 88vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: -5vw;
  justify-content: space-between;
  margin-top: -30vw;
  margin-bottom: 20vw;
}
.pbox {
  box-sizing: border-box;
  width: 25vw;
  height: 25vw;
}
.imgp {
  width: 100%;
  height: 15vw;
  overflow: hidden;
  border-radius: 15px;
  background-color: #191919;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #c7d0e0;
}
.imgp h5 {
  font-size: 3vw;
  font-family: italiana;
}
.pbox h2 {
  font-size: 1.7vw;
  color: #191919;
  font-family: Roboto;
  margin: 15px 2vw;
}
.pbox h3 {
  font-size: 1vw;
  color: #191919;
  font-family: Roboto;
  margin-left: 3vw;
  width: 20vw;
  height: 5vw;
  font-weight: 300;
}
.pbox a {
  top: 100px;
  text-decoration: none;
  font-size: 1vw;
  color: #191919;
  border: 1px solid #191919;
  margin-left: 40%;
  font-family: Roboto;
  padding: 10px;
  box-shadow: 0 0 #191919 inset;
  transition: 2.2s;
  cursor: none;
  border-radius: 5px;
}
.pbox a:hover {
  box-shadow: 5vw 0 #191919 inset;
  padding-right: 20px;
  color: #c7d0e0;
  border-radius: 15px;
}
#cmenu {
  width: 95vw;
  margin-left: 5vw;
  margin-top: -100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  opacity: 0%;
  margin-top: 0px;
  position: fixed;
  color: #191919;
  transition: opacity 0.2s, margin 1.6s;
}
.cmenu h2 {
  width: 100vw;
  font-size: 8vw;
  text-align: center;
}
.cmenu h3 {
  margin-top: 5vw;
  width: 100vw;
  font-size: 1vw;
  text-align: center;
  font-family: Roboto;
  font-weight: 300;
}
.socialmedia {
  display: flex;
  justify-content: space-between;
  width: 10vw;
  margin-top: 2vw;
}
.socialmedia img {
  width: 2vw;
  transform: translate(0px, 0px);
  transition: 1.6s;
}
.card {
  width: 100vw;
  height: 4vw;
  display: flex;
  flex-wrap: wrap;
  color: #191919;
  align-items: center;
  overflow: hidden;
  justify-content: center;
  margin-top: 1vw;
  border-radius: 2px;
}
#sh h2 {
  font-size: 1.2vw;
  font-weight: 300;
  font-family: Montserrat;
  transition: 0.9s ease-in-out;
  margin-bottom: 3vw;
}
#sh {
  display: flex;
  flex-wrap: wrap;
  width: 15vw;
  height: 4vw;
  justify-content: center;
  transition: 0.9s ease-in-out;
  margin-top: 5vw;
}
.faq1 {
  position: fixed;
  top: 0px;
  right: -50vw;
  width: 1vw;
  height: 1vh;
  background-image: url("../img/w3.gif");
  transition: 1.2s ease-in-out;
  overflow: hidden;
}
.tools {
  width: 100vw;
  bottom: -50vw;
  height: 50vh;
  position: fixed;
  color: #c7d0e0;
  transition: 1.2s ease-in-out;
  z-index: 10000000000;
}
.tools h3 {
  margin-bottom: 25vw;
}
.tools h2 {
  font-size: 5vw;
  margin-left: 5vw;
  transition: 0.6s ease-in-out;
}
.tools a {
  text-decoration: none;
  font-size: 5vw;
  margin-left: 5vw;
  font-weight: bold;
  color: #c7d0e0;
  transition: 0.6s ease-in-out;
}
.tools h2:hover {
  color: #ebf2fd;
}
.tools a:hover {
  color: #ebf2fd;
}
.faq2 {
  display: none;
}
#this {
  position: fixed;
  bottom: -50vw;
  z-index: 10000000;
  left: 10vw;
  transition: 1.2s ease-in-out;
}
#this h2 {
  color: #c7d0e0;
  font-size: 7vw;
  margin-bottom: 5vw;
}
#this h3 {
  color: #c7d0e0;
  font-size: 1.5vw;
  width: 50vw;
  font-family: roboto;
}
.pmenu {
  width: 20px;
  position: fixed;
  display: none;
  top: 30px;
  right: 30px;
  opacity: 0%;
  transition: 0.6s;
  z-index: -1;
}
#pclose {
  width: 20px;
  position: fixed;
  z-index: -1;
  top: 30px;
  transform: scale(0);
  right: 30px;
  transition: 0.9s ease-in-out;
}
.phone--menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0px;
  z-index: -1;
  padding-top: 10vh;
}
.overflowX {
  overflow: hidden;
  width: 100vw;
  height: 10vh;
  margin-left: 10vw;
}
.overflowX h2 {
  color: #191919;
  font-size: 40px;
  margin-top: 10vh;
  transition: 0.9s ease-in-out;
  font-family: italiana;
}
.overflowX a {
  text-decoration: none;
  color: #191919;
  font-size: 40px;
  transition: 0.9s ease-in-out;
  display: block;
  margin-top: 10vh;
  font-family: italiana;
  font-weight: bold;
}
#breakline {
  margin-top: 10vh;
  margin-bottom: 5vh;
}
.overflowXt {
  width: 100vw;
  overflow: hidden;
  height: 5vh;
  margin-top: -2vh;
  margin-left: 10vw;
}
.overflowXt h3 {
  color: #191919;
  font-size: 15px;
  font-family: italiana;
  margin-top: 5vh;
  transition: 0.9s ease-in-out;
}
.bg--music {
  opacity: 0%;
}
@media only screen and (max-width: 768px) {
  .l--brand {
    margin-top: 20vh;
    margin-left: 2vh;
  }
  .l--brand h2 {
    font-size: 50px;
  }
  .l--brand h3 {
    font-size: 15px;
  }
  .r--brand {
    margin-top: 40vh;
  }
  .r--brand h2 {
    margin-left: -25vw;
    font-size: 40px;
  }
  .r--brand h3 {
    font-size: 15px;
  }
  .navbar {
    display: none;
  }
  .xmenu {
    display: none;
  }
  .pmenu {
    display: block;
  }
  #bgmodel {
    display: none;
  }
  #tools {
    display: none;
  }
  .dd {
    margin-top: -10vh;
    margin-left: -3vh;
    font-size: 6vh;
  }
  .pbox {
    width: 35vw;
    height: 25vh;
    margin-top: 2vh;
    align-items: baseline;
    margin-bottom: 5vh;
  }
  .pbox:nth-child(1) {
    margin-right: 5vh;
  }
  .projectsbox {
    justify-content: center;
    margin-top: 0vh;
    margin-left: -3vh;
  }
  .imgp {
    border-radius: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .pbox h2 {
    font-size: 2vh;
  }
  .pbox h3 {
    font-size: 1.3vh;
    width: 90%;
    height: 7vh;
  }
  #this {
    bottom: -50vh;
  }
  #this h2 {
    color: #191919;
    font-size: 7vh;
  }
  #this h3 {
    color: #191919;
    font-size: 3vh;
    width: 80vw;
  }
  #circle {
    display: none;
  }
  #bg3d {
    width: 100vh;
    left: -23vw;
    top: 20vh;
    z-index: 1;
  }
  #imgbg {
    height: 100vh;
    z-index: 0;
  }
  .closeimg {
    display: none;
  }
  .aboutbox h2 {
    font-size: 12vh;
  }
  .aboutbox h5 {
    font-size: 1.5vh;
  }
  .aboutbox span {
    font-size: 2.3vh;
  }
  .aboutbox h3 {
    font-size: 3vh;
    width: 70vw;
  }
  .acceder h2 {
    font-size: 2vh;
  }
}
